<!DOCTYPE >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="main.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
<header th:insert="${header} :: header"> </header>
	
	<table>
		<tr>
			<td>Edit Collection: id =</td>
			<td th:text="${c.id}"></td>
		</tr>
	</table>
	<div class="form-group blu-margin">
		<form action="/saveChangesInCollection" th:action="@{/saveChangesInCollection}" th:method="get">
		<input class="abc" type="hidden" name="collectionId" th:value="${c.id}" />
		<table>
		<tr><td>Collection Name: </td><td><input class="abc" type="text" name="collectionName" th:value="${c.name}" /></td></tr>
		<tr><td>	Description: </td><td><input class="abc" type="text" name="about" th:value="${c.about}"/>	</td></tr>
		<tr><td>Select thema: </td><td><select class="form-control" name="dropThema">
			<option th:each="th : ${themas}" th:value="${th}" th:text="${th}"></option>
		</select></td><</tr>
		<tr><td>You can also upload picture on next page </td></tr>
				</table>
		<p>	<button class="abc" type="submit" id="click">Save Changes</button></p>
		</form>
	</div>
</body>

</html>