body {
    background-color: #f5f5f5;
}

#main-page {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


ul.nav {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

.nav li {
	display: inline;
}

ul.nav a {
	display: inline-block;
	width: 15em;
	padding: 10px;
	background-color: #f4f4f4;
	border: 1px dashed #333;
	text-decoration: none;
	color: #333;
	text-align: center;
}

ul.nav a:hover {
	background-color: #333;
	color: #f4f4f4;
}
* {box-sizing: border-box;}
form.head {
  width: auto;
  float: right;
  margin-right: 30px;
}
input.inHead {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #f4f4f4;
  outline: none;
  position: relative;
  transition: .3s linear;
}
input.inHead:focus {
  width: 300px;
}
button.h {
  height: 42px;
  border: none;
}
button.h:before{
  font-family: FontAwesome;
  color: #324b4e;
}